@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background:#94a3b8;
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container{
  height:94vh;
  background-color: red;

}
.custom-marker-cluster{
  background-color: #00468B;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  padding-top:8px;
  font-weight: bold;
}


.custom-marker-cluster-1{
  background-color: #CC5500;
  color: white;
  font-size: 20px;
  text-align: center; 
  border-radius: 50%;
  padding-top:8px;
  font-weight: bold;
}
.custom-marker-cluster-2{
  background-color: #991b1b;
  color: white;
  font-size: 20px;
  text-align: center; 
  border-radius: 50%;
  padding-top:8px;
  font-weight: bold;
}